{{#each task}}
<div onclick="getTask(this)" class="collapsible" id="Coll" data-customid="{{_id}}">{{name}} - {{status}}
    <button id="but{{_id}}" class="takeTask" onclick="takeTask()" disabled>Tag opgave</button>
</div>
<div id="con{{_id}}" class="content">
    <label>Deadline: </label>
    <p>{{deadline}}</p>
    <label>Beskrivelse: </label>
    <p>{{description}}</p>
    <label>Ansvarlig: </label>
    <p>{{responsible}}</p>
    <label>ETA: </label>
    <p>{{ETA}}</p>
    <div class="collapsible" id="commentColl">Kommentarer</div>
    <div class="content">
        <ul>
            {{#each Comments}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <input type="text" id="com{{_id}}" placeholder="Skriv kommentar"></input>
        <button class="takeTask" onclick="addComment()">Tilføj</button>
    </div>
</div>
{{/each}}