{{#each task}}
<div onclick="getTask(this)" class="collapsible" data-customid="{{_id}}">{{name}} - {{status}}
        <button id="{{_id}}" class="takeTask" onclick="takeTask()" disabled>Tag opgave</button>
</div>
<div class="content">
    <label>Deadline: </label>
    <p>{{deadline}}</p>
    <label>Beskrivelse: </label>
    <p>{{description}}</p>
    <label>Ansvarlig: </label>
    <p>{{responsible}}</p>
    <label>ETA: </label>
    <p>{{ETA}}</p>
    <div class="collapsible">Kommentarer</div>
    <div class="content>">
        <p>{{Comments}}</p>
        <input type="text" id="com{{_id}}" placeholder="Skriv kommentar"></input>
        <button class="takeTask" onclick="addComment()">Tilføj</button>
    </div>
</div>
{{/each}}