{{#each joke}}
<li data="{{id}}">
    <label>Task: </label>{{name}}<br />
    <label>Status: </label>{{status}}<br />
    <label>Deadline: </label>{{deadline}}<br />
    <label>Description: </label> {{description}}<br />
</li>
{{/each}}