{{#each task}}
<div>
    <button type="button" class="collapsible" onclick="open(this)">{{name}} - {{status}}</button>
    <div class="content">
        <label>Deadline: </label/ <p>{{deadline}}</p>
        <label>Beskrivelse: </label<p>{{description}}</p>
            <label>Ansvarlig: </label<p>{{responsible}}</p>
                <label>Tidsestimat: </label<p>{{ETA}}</p>
    </div>
</div>
{{/each}}