{{#each task}}
<button type="button" class="collapsible">{{name}} - {{status}}</button>
<div class="content">
    <p>{{deadline}}</p>
    <p>{{description}}</p>
    <p>{{responsible}}</p>
    <p>{{ETA}}</p>
</div>
{{/each}}