{{#each task}}
    <div class="collapsible" id="Coll" data-customid="{{_id}}">{{name}} - {{status}}
    </div>
    <div class="content">
        <p>Deadline: {{deadline}}</p>
        <p>Beskrivelse: {{description}}</p>
        <p>Ansvarlig: {{responsible}}</p>
        <p>ETA: {{ETA}}</p>
        <p>Status: {{status}}</p>
        <div class="collapsible" id="commentColl">Kommentarer</div>
        <div class="content>">
            <ul>
                {{#each Comments}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/each}}