{{#each task}}
<div onclick="getTask(this)" class="collapsible" data-customid="{{_id}}">{{name}} - {{status}}
        <button id="{{_id}}" class="takeTask" onclick="takeTask()" disabled>Tag opgave</button>
</div>
<div class="content">
    <label>Deadline: </label>
    <p>{{deadline}}</p>
    <label>Beskrivelse: </label>
    <p>{{description}}</p>
    <label>Ansvarlig: </label>
    <p>{{responsible}}</p>
    <label>ETA: </label>
    <p>{{ETA}}</p>
    <label>ID: </label>
    <p id="id">{{_id}}</p>
</div>
{{/each}}